{% load static %}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Tools · Huỳnh Ngọc Thiện Documentation</title>
    
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/fullcalendar/main.min.css" rel="stylesheet">
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <link type="text/css" href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/leaflet/dist/leaflet.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/docs.css' %}">
    
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THQTXJ7');</script>
    <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/683118612/?random=1612116267900&amp;cv=9&amp;fst=1612116267900&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=1&amp;u_tz=420&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg1k0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fthemesberg.com%2Fdocs%2Fvolt-bootstrap-5-dashboard%2Fgetting-started%2Fquick-start%2F&amp;ref=https%3A%2F%2Fdemo.themesberg.com%2F&amp;tiba=Quick%20Start%20%C2%B7%20Volt%20Bootstrap%205%20Dashboard%20Documentation&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><style>.swal2-popup.swal2-toast{flex-direction:row;align-items:center;width:auto;padding:.625em;overflow-y:hidden;background:#fff;box-shadow:0 0 .625em #d9d9d9}.swal2-popup.swal2-toast .swal2-header{flex-direction:row;padding:0}.swal2-popup.swal2-toast .swal2-title{flex-grow:1;justify-content:flex-start;margin:0 .6em;font-size:1em}.swal2-popup.swal2-toast .swal2-footer{margin:.5em 0 0;padding:.5em 0 0;font-size:.8em}.swal2-popup.swal2-toast .swal2-close{position:static;width:.8em;height:.8em;line-height:.8}.swal2-popup.swal2-toast .swal2-content{justify-content:flex-start;padding:0;font-size:1em}.swal2-popup.swal2-toast .swal2-icon{width:2em;min-width:2em;height:2em;margin:0}.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content{display:flex;align-items:center;font-size:1.8em;font-weight:700}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content{font-size:.25em}}.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line]{top:.875em;width:1.375em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:.3125em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:.3125em}.swal2-popup.swal2-toast .swal2-actions{flex-basis:auto!important;width:auto;height:auto;margin:0 .3125em}.swal2-popup.swal2-toast .swal2-styled{margin:0 .3125em;padding:.3125em .625em;font-size:1em}.swal2-popup.swal2-toast .swal2-styled:focus{box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(50,100,150,.4)}.swal2-popup.swal2-toast .swal2-success{border-color:#a5dc86}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line]{position:absolute;width:1.6em;height:3em;transform:rotate(45deg);border-radius:50%}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.8em;left:-.5em;transform:rotate(-45deg);transform-origin:2em 2em;border-radius:4em 0 0 4em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.25em;left:.9375em;transform-origin:0 1.5em;border-radius:0 4em 4em 0}.swal2-popup.swal2-toast .swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-success .swal2-success-fix{top:0;left:.4375em;width:.4375em;height:2.6875em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line]{height:.3125em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=tip]{top:1.125em;left:.1875em;width:.75em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=long]{top:.9375em;right:.1875em;width:1.375em}.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-tip{-webkit-animation:swal2-toast-animate-success-line-tip .75s;animation:swal2-toast-animate-success-line-tip .75s}.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-long{-webkit-animation:swal2-toast-animate-success-line-long .75s;animation:swal2-toast-animate-success-line-long .75s}.swal2-popup.swal2-toast.swal2-show{-webkit-animation:swal2-toast-show .5s;animation:swal2-toast-show .5s}.swal2-popup.swal2-toast.swal2-hide{-webkit-animation:swal2-toast-hide .1s forwards;animation:swal2-toast-hide .1s forwards}.swal2-container{display:flex;position:fixed;z-index:1060;top:0;right:0;bottom:0;left:0;flex-direction:row;align-items:center;justify-content:center;padding:.625em;overflow-x:hidden;transition:background-color .1s;-webkit-overflow-scrolling:touch}.swal2-container.swal2-backdrop-show,.swal2-container.swal2-noanimation{background:rgba(0,0,0,.4)}.swal2-container.swal2-backdrop-hide{background:0 0!important}.swal2-container.swal2-top{align-items:flex-start}.swal2-container.swal2-top-left,.swal2-container.swal2-top-start{align-items:flex-start;justify-content:flex-start}.swal2-container.swal2-top-end,.swal2-container.swal2-top-right{align-items:flex-start;justify-content:flex-end}.swal2-container.swal2-center{align-items:center}.swal2-container.swal2-center-left,.swal2-container.swal2-center-start{align-items:center;justify-content:flex-start}.swal2-container.swal2-center-end,.swal2-container.swal2-center-right{align-items:center;justify-content:flex-end}.swal2-container.swal2-bottom{align-items:flex-end}.swal2-container.swal2-bottom-left,.swal2-container.swal2-bottom-start{align-items:flex-end;justify-content:flex-start}.swal2-container.swal2-bottom-end,.swal2-container.swal2-bottom-right{align-items:flex-end;justify-content:flex-end}.swal2-container.swal2-bottom-end>:first-child,.swal2-container.swal2-bottom-left>:first-child,.swal2-container.swal2-bottom-right>:first-child,.swal2-container.swal2-bottom-start>:first-child,.swal2-container.swal2-bottom>:first-child{margin-top:auto}.swal2-container.swal2-grow-fullscreen>.swal2-modal{display:flex!important;flex:1;align-self:stretch;justify-content:center}.swal2-container.swal2-grow-row>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-grow-column{flex:1;flex-direction:column}.swal2-container.swal2-grow-column.swal2-bottom,.swal2-container.swal2-grow-column.swal2-center,.swal2-container.swal2-grow-column.swal2-top{align-items:center}.swal2-container.swal2-grow-column.swal2-bottom-left,.swal2-container.swal2-grow-column.swal2-bottom-start,.swal2-container.swal2-grow-column.swal2-center-left,.swal2-container.swal2-grow-column.swal2-center-start,.swal2-container.swal2-grow-column.swal2-top-left,.swal2-container.swal2-grow-column.swal2-top-start{align-items:flex-start}.swal2-container.swal2-grow-column.swal2-bottom-end,.swal2-container.swal2-grow-column.swal2-bottom-right,.swal2-container.swal2-grow-column.swal2-center-end,.swal2-container.swal2-grow-column.swal2-center-right,.swal2-container.swal2-grow-column.swal2-top-end,.swal2-container.swal2-grow-column.swal2-top-right{align-items:flex-end}.swal2-container.swal2-grow-column>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-no-transition{transition:none!important}.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal{margin:auto}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-container .swal2-modal{margin:0!important}}.swal2-popup{display:none;position:relative;box-sizing:border-box;flex-direction:column;justify-content:center;width:32em;max-width:100%;padding:1.25em;border:none;border-radius:.3125em;background:#fff;font-family:inherit;font-size:1rem}.swal2-popup:focus{outline:0}.swal2-popup.swal2-loading{overflow-y:hidden}.swal2-header{display:flex;flex-direction:column;align-items:center;padding:0 1.8em}.swal2-title{position:relative;max-width:100%;margin:0 0 .4em;padding:0;color:#595959;font-size:1.875em;font-weight:600;text-align:center;text-transform:none;word-wrap:break-word}.swal2-actions{display:flex;z-index:1;flex-wrap:wrap;align-items:center;justify-content:center;width:100%;margin:1.25em auto 0}.swal2-actions:not(.swal2-loading) .swal2-styled[disabled]{opacity:.4}.swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1))}.swal2-actions:not(.swal2-loading) .swal2-styled:active{background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2))}.swal2-actions.swal2-loading .swal2-styled.swal2-confirm{box-sizing:border-box;width:2.5em;height:2.5em;margin:.46875em;padding:0;-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal;border:.25em solid transparent;border-radius:100%;border-color:transparent;background-color:transparent!important;color:transparent!important;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-actions.swal2-loading .swal2-styled.swal2-cancel{margin-right:30px;margin-left:30px}.swal2-actions.swal2-loading :not(.swal2-styled).swal2-confirm::after{content:"";display:inline-block;width:15px;height:15px;margin-left:5px;-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal;border:3px solid #999;border-radius:50%;border-right-color:transparent;box-shadow:1px 1px 1px #fff}.swal2-styled{margin:.3125em;padding:.625em 2em;box-shadow:none;font-weight:500}.swal2-styled:not([disabled]){cursor:pointer}.swal2-styled.swal2-confirm{border:0;border-radius:.25em;background:initial;background-color:#3085d6;color:#fff;font-size:1.0625em}.swal2-styled.swal2-cancel{border:0;border-radius:.25em;background:initial;background-color:#aaa;color:#fff;font-size:1.0625em}.swal2-styled:focus{outline:0;box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(50,100,150,.4)}.swal2-styled::-moz-focus-inner{border:0}.swal2-footer{justify-content:center;margin:1.25em 0 0;padding:1em 0 0;border-top:1px solid #eee;color:#545454;font-size:1em}.swal2-timer-progress-bar-container{position:absolute;right:0;bottom:0;left:0;height:.25em;overflow:hidden;border-bottom-right-radius:.3125em;border-bottom-left-radius:.3125em}.swal2-timer-progress-bar{width:100%;height:.25em;background:rgba(0,0,0,.2)}.swal2-image{max-width:100%;margin:1.25em auto}.swal2-close{position:absolute;z-index:2;top:0;right:0;align-items:center;justify-content:center;width:1.2em;height:1.2em;padding:0;overflow:hidden;transition:color .1s ease-out;border:none;border-radius:0;background:0 0;color:#ccc;font-family:serif;font-size:2.5em;line-height:1.2;cursor:pointer}.swal2-close:hover{transform:none;background:0 0;color:#f27474}.swal2-close::-moz-focus-inner{border:0}.swal2-content{z-index:1;justify-content:center;margin:0;padding:0 1.6em;color:#545454;font-size:1.125em;font-weight:400;line-height:normal;text-align:center;word-wrap:break-word}.swal2-checkbox,.swal2-file,.swal2-input,.swal2-radio,.swal2-select,.swal2-textarea{margin:1em auto}.swal2-file,.swal2-input,.swal2-textarea{box-sizing:border-box;width:100%;transition:border-color .3s,box-shadow .3s;border:1px solid #d9d9d9;border-radius:.1875em;background:inherit;box-shadow:inset 0 1px 1px rgba(0,0,0,.06);color:inherit;font-size:1.125em}.swal2-file.swal2-inputerror,.swal2-input.swal2-inputerror,.swal2-textarea.swal2-inputerror{border-color:#f27474!important;box-shadow:0 0 2px #f27474!important}.swal2-file:focus,.swal2-input:focus,.swal2-textarea:focus{border:1px solid #b4dbed;outline:0;box-shadow:0 0 3px #c4e6f5}.swal2-file::-moz-placeholder,.swal2-input::-moz-placeholder,.swal2-textarea::-moz-placeholder{color:#ccc}.swal2-file:-ms-input-placeholder,.swal2-input:-ms-input-placeholder,.swal2-textarea:-ms-input-placeholder{color:#ccc}.swal2-file::-ms-input-placeholder,.swal2-input::-ms-input-placeholder,.swal2-textarea::-ms-input-placeholder{color:#ccc}.swal2-file::placeholder,.swal2-input::placeholder,.swal2-textarea::placeholder{color:#ccc}.swal2-range{margin:1em auto;background:#fff}.swal2-range input{width:80%}.swal2-range output{width:20%;color:inherit;font-weight:600;text-align:center}.swal2-range input,.swal2-range output{height:2.625em;padding:0;font-size:1.125em;line-height:2.625em}.swal2-input{height:2.625em;padding:0 .75em}.swal2-input[type=number]{max-width:10em}.swal2-file{background:inherit;font-size:1.125em}.swal2-textarea{height:6.75em;padding:.75em}.swal2-select{min-width:50%;max-width:100%;padding:.375em .625em;background:inherit;color:inherit;font-size:1.125em}.swal2-checkbox,.swal2-radio{align-items:center;justify-content:center;background:#fff;color:inherit}.swal2-checkbox label,.swal2-radio label{margin:0 .6em;font-size:1.125em}.swal2-checkbox input,.swal2-radio input{margin:0 .4em}.swal2-validation-message{display:none;align-items:center;justify-content:center;padding:.625em;overflow:hidden;background:#f0f0f0;color:#666;font-size:1em;font-weight:300}.swal2-validation-message::before{content:"!";display:inline-block;width:1.5em;min-width:1.5em;height:1.5em;margin:0 .625em;border-radius:50%;background-color:#f27474;color:#fff;font-weight:600;line-height:1.5em;text-align:center}.swal2-icon{position:relative;box-sizing:content-box;justify-content:center;width:5em;height:5em;margin:1.25em auto 1.875em;border:.25em solid transparent;border-radius:50%;font-family:inherit;line-height:5em;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-icon .swal2-icon-content{display:flex;align-items:center;font-size:3.75em}.swal2-icon.swal2-error{border-color:#f27474;color:#f27474}.swal2-icon.swal2-error .swal2-x-mark{position:relative;flex-grow:1}.swal2-icon.swal2-error [class^=swal2-x-mark-line]{display:block;position:absolute;top:2.3125em;width:2.9375em;height:.3125em;border-radius:.125em;background-color:#f27474}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:1.0625em;transform:rotate(45deg)}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:1em;transform:rotate(-45deg)}.swal2-icon.swal2-error.swal2-icon-show{-webkit-animation:swal2-animate-error-icon .5s;animation:swal2-animate-error-icon .5s}.swal2-icon.swal2-error.swal2-icon-show .swal2-x-mark{-webkit-animation:swal2-animate-error-x-mark .5s;animation:swal2-animate-error-x-mark .5s}.swal2-icon.swal2-warning{border-color:#facea8;color:#f8bb86}.swal2-icon.swal2-info{border-color:#9de0f6;color:#3fc3ee}.swal2-icon.swal2-question{border-color:#c9dae1;color:#87adbd}.swal2-icon.swal2-success{border-color:#a5dc86;color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-circular-line]{position:absolute;width:3.75em;height:7.5em;transform:rotate(45deg);border-radius:50%}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.4375em;left:-2.0635em;transform:rotate(-45deg);transform-origin:3.75em 3.75em;border-radius:7.5em 0 0 7.5em}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.6875em;left:1.875em;transform:rotate(-45deg);transform-origin:0 3.75em;border-radius:0 7.5em 7.5em 0}.swal2-icon.swal2-success .swal2-success-ring{position:absolute;z-index:2;top:-.25em;left:-.25em;box-sizing:content-box;width:100%;height:100%;border:.25em solid rgba(165,220,134,.3);border-radius:50%}.swal2-icon.swal2-success .swal2-success-fix{position:absolute;z-index:1;top:.5em;left:1.625em;width:.4375em;height:5.625em;transform:rotate(-45deg)}.swal2-icon.swal2-success [class^=swal2-success-line]{display:block;position:absolute;z-index:2;height:.3125em;border-radius:.125em;background-color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip]{top:2.875em;left:.8125em;width:1.5625em;transform:rotate(45deg)}.swal2-icon.swal2-success [class^=swal2-success-line][class$=long]{top:2.375em;right:.5em;width:2.9375em;transform:rotate(-45deg)}.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip{-webkit-animation:swal2-animate-success-line-tip .75s;animation:swal2-animate-success-line-tip .75s}.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long{-webkit-animation:swal2-animate-success-line-long .75s;animation:swal2-animate-success-line-long .75s}.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right{-webkit-animation:swal2-rotate-success-circular-line 4.25s ease-in;animation:swal2-rotate-success-circular-line 4.25s ease-in}.swal2-progress-steps{align-items:center;margin:0 0 1.25em;padding:0;background:inherit;font-weight:600}.swal2-progress-steps li{display:inline-block;position:relative}.swal2-progress-steps .swal2-progress-step{z-index:20;width:2em;height:2em;border-radius:2em;background:#3085d6;color:#fff;line-height:2em;text-align:center}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step{background:#3085d6}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step{background:#add8e6;color:#fff}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line{background:#add8e6}.swal2-progress-steps .swal2-progress-step-line{z-index:10;width:2.5em;height:.4em;margin:0 -1px;background:#3085d6}[class^=swal2]{-webkit-tap-highlight-color:transparent}.swal2-show{-webkit-animation:swal2-show .3s;animation:swal2-show .3s}.swal2-hide{-webkit-animation:swal2-hide .15s forwards;animation:swal2-hide .15s forwards}.swal2-noanimation{transition:none}.swal2-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}.swal2-rtl .swal2-close{right:auto;left:0}.swal2-rtl .swal2-timer-progress-bar{right:0;left:auto}@supports (-ms-accelerator:true){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@-moz-document url-prefix(){.swal2-close:focus{outline:2px solid rgba(50,100,150,.4)}}@-webkit-keyframes swal2-toast-show{0%{transform:translateY(-.625em) rotateZ(2deg)}33%{transform:translateY(0) rotateZ(-2deg)}66%{transform:translateY(.3125em) rotateZ(2deg)}100%{transform:translateY(0) rotateZ(0)}}@keyframes swal2-toast-show{0%{transform:translateY(-.625em) rotateZ(2deg)}33%{transform:translateY(0) rotateZ(-2deg)}66%{transform:translateY(.3125em) rotateZ(2deg)}100%{transform:translateY(0) rotateZ(0)}}@-webkit-keyframes swal2-toast-hide{100%{transform:rotateZ(1deg);opacity:0}}@keyframes swal2-toast-hide{100%{transform:rotateZ(1deg);opacity:0}}@-webkit-keyframes swal2-toast-animate-success-line-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@keyframes swal2-toast-animate-success-line-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@-webkit-keyframes swal2-toast-animate-success-line-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@keyframes swal2-toast-animate-success-line-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@-webkit-keyframes swal2-show{0%{transform:scale(.7)}45%{transform:scale(1.05)}80%{transform:scale(.95)}100%{transform:scale(1)}}@keyframes swal2-show{0%{transform:scale(.7)}45%{transform:scale(1.05)}80%{transform:scale(.95)}100%{transform:scale(1)}}@-webkit-keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(.5);opacity:0}}@keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(.5);opacity:0}}@-webkit-keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.8125em;width:1.5625em}}@keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.8125em;width:1.5625em}}@-webkit-keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@-webkit-keyframes swal2-rotate-success-circular-line{0%{transform:rotate(-45deg)}5%{transform:rotate(-45deg)}12%{transform:rotate(-405deg)}100%{transform:rotate(-405deg)}}@keyframes swal2-rotate-success-circular-line{0%{transform:rotate(-45deg)}5%{transform:rotate(-45deg)}12%{transform:rotate(-405deg)}100%{transform:rotate(-405deg)}}@-webkit-keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;transform:scale(.4);opacity:0}50%{margin-top:1.625em;transform:scale(.4);opacity:0}80%{margin-top:-.375em;transform:scale(1.15)}100%{margin-top:0;transform:scale(1);opacity:1}}@keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;transform:scale(.4);opacity:0}50%{margin-top:1.625em;transform:scale(.4);opacity:0}80%{margin-top:-.375em;transform:scale(1.15)}100%{margin-top:0;transform:scale(1);opacity:1}}@-webkit-keyframes swal2-animate-error-icon{0%{transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);opacity:1}}@keyframes swal2-animate-error-icon{0%{transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);opacity:1}}@-webkit-keyframes swal2-rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@keyframes swal2-rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow:hidden}body.swal2-height-auto{height:auto!important}body.swal2-no-backdrop .swal2-container{top:auto;right:auto;bottom:auto;left:auto;max-width:calc(100% - .625em * 2);background-color:transparent!important}body.swal2-no-backdrop .swal2-container>.swal2-modal{box-shadow:0 0 10px rgba(0,0,0,.4)}body.swal2-no-backdrop .swal2-container.swal2-top{top:0;left:50%;transform:translateX(-50%)}body.swal2-no-backdrop .swal2-container.swal2-top-left,body.swal2-no-backdrop .swal2-container.swal2-top-start{top:0;left:0}body.swal2-no-backdrop .swal2-container.swal2-top-end,body.swal2-no-backdrop .swal2-container.swal2-top-right{top:0;right:0}body.swal2-no-backdrop .swal2-container.swal2-center{top:50%;left:50%;transform:translate(-50%,-50%)}body.swal2-no-backdrop .swal2-container.swal2-center-left,body.swal2-no-backdrop .swal2-container.swal2-center-start{top:50%;left:0;transform:translateY(-50%)}body.swal2-no-backdrop .swal2-container.swal2-center-end,body.swal2-no-backdrop .swal2-container.swal2-center-right{top:50%;right:0;transform:translateY(-50%)}body.swal2-no-backdrop .swal2-container.swal2-bottom{bottom:0;left:50%;transform:translateX(-50%)}body.swal2-no-backdrop .swal2-container.swal2-bottom-left,body.swal2-no-backdrop .swal2-container.swal2-bottom-start{bottom:0;left:0}body.swal2-no-backdrop .swal2-container.swal2-bottom-end,body.swal2-no-backdrop .swal2-container.swal2-bottom-right{right:0;bottom:0}@media print{body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow-y:scroll!important}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)>[aria-hidden=true]{display:none}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) .swal2-container{position:static!important}}body.swal2-toast-shown .swal2-container{background-color:transparent}body.swal2-toast-shown .swal2-container.swal2-top{top:0;right:auto;bottom:auto;left:50%;transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-top-end,body.swal2-toast-shown .swal2-container.swal2-top-right{top:0;right:0;bottom:auto;left:auto}body.swal2-toast-shown .swal2-container.swal2-top-left,body.swal2-toast-shown .swal2-container.swal2-top-start{top:0;right:auto;bottom:auto;left:0}body.swal2-toast-shown .swal2-container.swal2-center-left,body.swal2-toast-shown .swal2-container.swal2-center-start{top:50%;right:auto;bottom:auto;left:0;transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-center{top:50%;right:auto;bottom:auto;left:50%;transform:translate(-50%,-50%)}body.swal2-toast-shown .swal2-container.swal2-center-end,body.swal2-toast-shown .swal2-container.swal2-center-right{top:50%;right:0;bottom:auto;left:auto;transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-left,body.swal2-toast-shown .swal2-container.swal2-bottom-start{top:auto;right:auto;bottom:0;left:0}body.swal2-toast-shown .swal2-container.swal2-bottom{top:auto;right:auto;bottom:0;left:50%;transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-end,body.swal2-toast-shown .swal2-container.swal2-bottom-right{top:auto;right:0;bottom:0;left:auto}body.swal2-toast-column .swal2-toast{flex-direction:column;align-items:stretch}body.swal2-toast-column .swal2-toast .swal2-actions{flex:1;align-self:stretch;height:2.2em;margin-top:.3125em}body.swal2-toast-column .swal2-toast .swal2-loading{justify-content:center}body.swal2-toast-column .swal2-toast .swal2-input{height:2em;margin:.3125em auto;font-size:1em}body.swal2-toast-column .swal2-toast .swal2-validation-message{font-size:1em}</style></head>
    <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THQTXJ7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    <header class="navbar navbar-nav navbar-expand navbar-dark navbar-theme-primary">
    <div class="container px-3 px-md-4" style="max-width: 960px;">
    <div class="d-flex align-items-center">
    <img class="rounded-circle" src="/static/assets/img/brand/Thien.jpg" style="height: 100px" alt="">
    <span class="ml-2" style="color: white; font-size: 2em; margin-left: 1em !important;">Tài Liệu Cho Django Tools</span>
    </a>
    </div>
    <button class="btn btn-link bd-search-docs-toggle d-lg-none p-0 ml-3 order-3 ml-auto collapsed" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
        </button>
    </div>
    </header>
    <div class="container my-4">
    <div class="row flex-xl-nowrap">
    <div class="col-lg-3 bd-sidebar">
    <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation"><ul class="list-unstyled">
    <li class="bd-sidenav-group my-1 active js-sidenav-group has-children">
    <a class="d-inline-flex align-items-center bd-sidenav-group-link" href="" aria-current="true">
    Nội Dung
    </a>
    <ul class="nav bd-sidenav flex-column mb-2">
    <li class="tab bd-sidenav-active">
        <a id="sidebar-bar" href="#sidebar" >Sidebar
    </a>
    </li>
    <li class="tab bd-sidenav-active">
        <a id="navigation-bar" href="#navigation" >Navigation
    </a>
    </li>
    <li class="tab bd-sidenav-active">
        <a id="google-bar" href="#google" >Google Scraper
    </a>
    </li>
    <li class="tab bd-sidenav-active">
        <a id="the-table-bar" href="#the-table" >Bảng Dữ Liệu
    </a>
    </li>
    <li class="tab bd-sidenav-active">
        <a id="cookie-bar" href="#cookie" >Kiểm Tra Cookie
    </a>
    <li class="tab bd-sidenav-active">
        <a id="fbs-bar" href="#fbs" >Facebook Search
    </a>
    </li>
    <li class="tab bd-sidenav-active">
        <a id="fbp-bar" href="#fbp" >Facebook Post
    </a>
    </li>
    <li class="tab bd-sidenav-active">
        <a id="imp-bar" href="#imp" ><b style="color: black;">Lưu Ý</b>
    </a>
    </li>
    </ul>
    </li>
    </ul>
    </nav>
    </div>
    <main class="col-lg-9 py-md-3 px-lg-5 bd-content" role="main">
    <h1 class="bd-title" id="content">Hướng dẫn sử dụng tool </h1>
    <p class="bd-lead">Các bước sau đây sẽ hướng dẫn bạn cách sử dụng Django Tools</p>

    <h2 id="sidebar">Sidebar</h2>
    <img src="/static/assets/img/docs/sidebar.PNG">
    <br><br>
    <p>Thanh bên trái sẽ hiển thị toàn bộ chức năng của các tools, bao gồm:</p>
    <ol>
    <li>Hiện thị các đường dẫn đến 3 tools chính: Google Scraper, Facebook Search và Facebook Post.</li>
    <li><p><a href="#cookie">Chức năng kiểm tra tính hợp lệ của cookie (dùng để chạy các tools liên quan tới Facebook).</a></p></li>
    <li>Hiện thị đường dẫn đến trang tài liệu.</li>
    </ol>


    <br><br>
    <h2 id="navigation">Navigation</h2>
    <img src="/static/assets/img/docs/nav2.PNG">
    <br><br>
    <p>Thanh bên trên sẽ hiện thị:</p>
    <ol>
    <li>Tên chức năng hiện tại người dùng đang sử dụng và mô tả ngắn về nó.</li>
    <li>Một nút tắt đưa người dùng đến thẳng chỗ giải thích cách dùng của chức năng hiện tại.</li>
    <li>Avatar hình người khi bấm vào sẽ cho người dùng lựa chọn đăng xuất.</li>
    <img src="/static/assets/img/docs/nav1.PNG">
    </ol>


    <br><br>
    <h2 id="google">Google Scraper</h2>
    <img src="/static/assets/img/docs/google.PNG">
    <br><br>
    <p>Tool này khi dùng sẽ yêu cầu người dùng:</p>
    <ol>
    <li>Nhập từ khóa để quét những thông tin liên quan đến từ khóa trên google.</li>
    <li>Nhập số trang giới hạn mà tool cần quét <code>(Ví dụ: Nếu nhập 2, tool sẽ chỉ quét nhữn đường liên kết được tìm thấy ở 2 trang đầu trên google)</code>.</li>
    <li>Nếu không nhập đủ thì sẽ được cảnh báo như sau:</li>
    <img src="/static/assets/img/docs/warn.PNG">
    <li>Sau khi nhập đầy đủ thông tin, khi bấm quét, người dùng sẽ gửi lệnh lên hệ thống và sau đó, khi nào có dữ liệu mới được quét về, hệ thống sẽ cập nhật ở bảng dữ liệu bên phần dưới.</li>
    <img src="/static/assets/img/docs/quet.PNG">
    </ol>


    <br><br>
    <h2 id="the-table">Bảng Dữ Liệu</h2>
    <p>Tất cả kết quả quét của mọi người dùng và của từng tool sẽ được hiện thị trong bảng đi kèm như sau:</p>
    <img src="/static/assets/img/docs/table1.PNG">
    <br><br>
    <p>Với bảng dữ liệu này, các chứng năng đi kèm gồm:</p>
    <ol>
    <li>Kiểm tra có dữ liệu mới được quét về hay không bằng tay <code>(Bấm Nút Cập Nhật)</code></li>
    <li>Tải file dữ liệu dưới nhiều định dạng <code></code>(Excel, CSV, PDF)</code> hoặc copy vào clipboard <code>(một nút Copy sẽ tự động ctr + c toàn bộ dữ liệu đang hiện thị cho người dùng)</code></li>
    <br><br>
    <img src="/static/assets/img/docs/d1.PNG">
    <img src="/static/assets/img/docs/d2.PNG">
    <br><br>
    <li>Kiểm tra có dữ liệu mới được quét về hay không bằng cách tự động <code>(Bấm nút Tự Động Cập Nhật)</code></li>
    <img src="/static/assets/img/docs/auto1.PNG">
    <img src="/static/assets/img/docs/auto2.PNG">
    <br><br>
    <li>Người dùng có thể sử dụng nút tìm kiếm để lọc các kết quả mình mong muốn.</li>
    <img src="/static/assets/img/docs/s1.PNG">
    <img src="/static/assets/img/docs/s2.PNG">
    <img src="/static/assets/img/docs/s3.PNG">
    <br><br>
    <li>Người dùng có thể chọn xóa dữ liệu mình không muốn lưu trữ trên cơ sở dữ liệu.</li>
    <img src="/static/assets/img/docs/d1.PNG">
    <img src="/static/assets/img/docs/d2.PNG">
    <br><br>
    <li>Đặc biệt trong Facebook Post, do dữ liệu về các bình luận của một bài viết khá nhiều nên sẽ được hiển thị ở cột sau đây với cấu trúc như trong hình:</li>
    <img src="/static/assets/img/docs/final1.PNG">
    <br><br><br><br>
    <img src="/static/assets/img/docs/final2.PNG">
    <br><br><br><br>
    <img src="/static/assets/img/docs/final3.PNG">
    </ol>

    <br><br>
    <h2 id="cookie">Kiểm Tra Cookie</h2>
    <p><code>Luôn kiểm tra cookie trước khi sử dụng các tools liên quan đến Facebook.</code></p>
    <p>Khi bấm vào kiểm tra cookie, hệ thống sẽ ngay lập tức gửi lệnh kiểm tra xem còn hợp lệ hay không</p>
    <img src="/static/assets/img/docs/checkingcookie.PNG">
    <br><br>
    <p>Nếu hợp lệ, chúng ta có thể an tâm sử dụng các tools liên quan tới Facebook.</p>
    <img src="/static/assets/img/docs/cookiesuccess.PNG">
    <br><br>
    <p>Nếu không hợp lệ...</p>
    <img src="/static/assets/img/docs/cookieerror.PNG">
    <br><br>
    <p>Khi không hợp lệ, ta cần thực hiện các bước sau:</p>
    <ol>
    <li><code>(Có thể bỏ qua nếu đã thực hiện) <a target="_blank" href="https://chrome.google.com/webstore/detail/j2team-cookies/okpidcojinmlaakglciglbpcpajaibco">Tải J2TEAM Cookies Chrome Extension</a></code></li>
    <li>Đăng nhập vào Facebook ở một tab khác và đảm bảo đã chuyển đổi ngôn ngữ trên Facebook qua Tiếng Việt</li>
    <img src="/static/assets/img/docs/fb1.PNG">
    <img src="/static/assets/img/docs/fb2.PNG">
    <img src="/static/assets/img/docs/fb3.PNG">
    <br><br>
    <li>Mở extension J2TEAM Cookies lên và bấm export <code>(Lưu ý là phải mở Extension và bấm export khi đang ở tab Facebook để lấy được cookie Facebook)</code></li>
    <img src="/static/assets/img/docs/fb4.PNG">
    <br><br>
    <li>Quay lại trang Kiểm tra cookie và tải lên file cookie.</li>
    <img src="/static/assets/img/docs/importcookie.PNG">
    <br><br>
    <li>Bấm kiểm tra để xem đã hợp lệ hay chưa. Nếu chưa, ta cần thực hiện lại toàn bộ bước trên hoặc liên hệ tác giả để được hỗ trợ</li>
    </ol>

    <br><br>
    <h2 id="fbs">Facebook Search</h2>
    <p><code>Luôn kiểm tra cookie trước khi sử dụng các tools liên quan đến Facebook.</code><a href="#cookie">Bấm vào đây để xem hướng dẫn về kiểm tra cookie.</a></p>
    <br><br>
    <img src="/static/assets/img/docs/fbs.PNG">
    <br><br>
    <p>Tool này khi dùng sẽ yêu cầu người dùng:</p>
    <ol>
    <li>Nhập từ khóa để quét những thông tin liên quan đến những người dùng Facebook cần quét.</li>
    <li>Số Scrolls: Vì tool quét sẽ tự động chạy một trình duyệt web và mô phỏng thao tác kéo chuột của người dùng khi tìm kiếm kết quả nên số scrolls ở đây là số lần kẹo chuột xuống để tải thêm những kết quả liên quan đến từ khóa <code>(Lưu ý: Vì từ khóa là ngẫu nhiên nên số scrolls không đảm bảo cho số lượng thông tin người dùng Facebook được quét về)</code>.</li>
    <li>Các bước còn lại sẽ giống như tool đầu tiên. Tuy bảng dữ liệu sẽ có cấu trúc khác nhau nhưng chức năng là như nhau <a href="the_table">(Bấm vào đây để xem lại hướng dẫn bảng dữ liệu)</a></li>

    <br><br>
    <h2 id="fbp">Facebook Post</h2>
    <p><code>Luôn kiểm tra cookie trước khi sử dụng các tools liên quan đến Facebook.</code><a href="#cookie">Bấm vào đây để xem hướng dẫn về kiểm tra cookie.</a></p>
    <p><code>Lưu Ý:</code> Các link nhóm Facebook đều phải thay tiền tố <b> "www." </b> thành <b> "m." </b> khi được gõ vào như hình bên dưới thì tools Facebook Post mới có thể nhận diện và quét được kết quả</code></p>
    <br><br>
    <img src="/static/assets/img/docs/fbp.PNG">
    <br><br>
    <p>Tool này khi dùng sẽ yêu cầu người dùng:</p>
    <ol>
    <li>Nhập danh sách các nhóm cần quét bài viết trên Facebook.</li>
    <li>Số Scrolls: Vì tool quét sẽ tự động chạy một trình duyệt web và mô phỏng thao tác kéo chuột của người dùng khi tìm kiếm kết quả nên số scrolls ở đây là số lần kẹo chuột xuống để tải thêm những bài viết trong nhóm <code>(Lưu ý: Vì trong từng nhóm Facebook thì khi kéo xuống thì bài viết mới được tải thêm nên chỉ có thể quản lý được số scrolls chứ không biết được chính xác số bài sẽ được quét về)</code>.</li>
    <li>Các bước còn lại sẽ giống như tool đầu tiên. Tuy bảng dữ liệu sẽ có cấu trúc khác nhau nhưng chức năng là như nhau <a href="the_table">(Bấm vào đây để xem lại hướng dẫn bảng dữ liệu)</a></li>

    <br><br>
    <h2 id="imp">Lưu Ý</h2>
    <p>Vì dữ liệu quét trên facebook lúc nhiều lúc ít nên mỗi lần người dùng nhấn quét thì chỉ là gửi lệnh quét. Vì thế, các tools không thể đảm bảo sau khi bấm quét là dữ liệu sẽ được quét về ngay lập tức và người dùng phải chờ một thời gian sau .</p>
    <p>Chính sự bất tiện đó đã thôi thúc tác giả làm bổ sung thêm vào các tools chức năng tự cập nhật dữ liệu thời gian thật 5 giây một lần, nhưng yêu cầu người dùng phải để tab để dữ liệu được ghi xuống. Dù vậy, những dữ liệu đó tuy có được hiển thị khi tự động cập nhật hay không thì vẫn đảm bảo sẽ được lưu trong cơ sở dữ liệu.</p>
    <p>Và nếu sau khi bấm quét và chờ một thời gian mà không thấy kết quả, người dùng có thể thử kiểm tra lại cookie xem còn hợp lệ hay không. Nếu mọi thứ đều ổn và dữ liệu vẫn không được quét về, người dùng có thể liên hệ ngay với tác giả bên dưới, đặc biệt là trường hợp này sẽ xảy ra nhiều với tool Facebook Post khi dữ liệu khá lớn và có nhiều thứ phải xử lý ở server.</p>
    <p><code>Cuối cùng, tác giả xin gửi lời cảm ơn đến những người đã dùng thử các tools, góp ý và báo lỗi để giúp tác giả hoàn thiện hơn. Do đây chỉ mới là v0.1 nhưng tác giả sẽ cố gắng theo sát dự án để cải thiện chất lượng ngày một tốt hơn. Cảm ơn mọi người rất nhiều !!!</code></p>

    <!-- <div class="col-lg-3 bd-sidebar">
    <nav class="bd-toc bd-links mb-5 text-muted list-style-none" aria-label="Secondary navigation">
    <nav id="TableOfContents">
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
    </nav>
    </nav>
    </div> -->
    </div>
    </div>
    <footer class="bd-footer p-3 pt-5 p-md-5 mt-5 bg-soft text-center">
    <div class="container">
    <a href="https://github.com/WhiteWolf21" target="_blank">
    <img src="/static/assets/img/brand/Thien.jpg" class="mb-4 rounded-circle" width="100" alt="Themesberg Logo">
    </a>
    <p class="font-small mb-4">Edited by <a href="https://www.linkedin.com/in/thiện-huỳnh-ngọc-8481b6194" target="_blank">Huỳnh Ngọc Thiện</a>.</p>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/countup.js/dist/countUp.umd.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/chartist/dist/chartist.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/fullcalendar/main.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/notyf/notyf.min.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/leaflet/dist/leaflet.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/vendor/svgmap/dist/svgMap.min.js"></script>
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
    <script src="https://themesberg.com/docs/volt-bootstrap-5-dashboard/assets/js/volt.js"></script>
    <script src="{% static 'assets/js/docs.min.js' %}"></script>
    
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script type="text/javascript" id="" src="https://cdn.paddle.com/paddle/paddle.js"></script>
    <script type="text/javascript" id="">if("demo.themesberg.com"===window.location.hostname){Paddle.Setup({vendor:113942});var setDomain="themesberg.com",getCookies=function(){for(var b=document.cookie.split(";"),c={},a=0;a<b.length;a++){var d=b[a].split("\x3d");c[(d[0]+"").trim()]=decodeURIComponent(d[1])}return c},setCookie=function(b,c,a,d){var e=new Date;e.setTime(e.getTime()+864E5*a);a="expires\x3d"+e.toUTCString();document.cookie=b+"\x3d"+c+";"+a+";domain\x3d"+d+";path\x3d/"},deleteCookie=function(b){document.cookie=b+"\x3d;expires\x3dThu, 01 Jan 1970 00:00:01 GMT;"},
    setPaddleCookies=function(b){var c=getCookies();Object.keys(c).forEach(function(a){a.startsWith("paddlejs_")&&(deleteCookie(a),setCookie(a,c[a],30,b))})};setPaddleCookies(setDomain)};</script></body></html>