{% load static %}

<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    Django Dashboard Tools - {% block title %}{% endblock %} | Huỳnh Ngọc Thiện
</title>

<!-- Fontawesome -->
<link type="text/css" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'assets/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head> 
<body class="{% block body_class %}{% endblock body_class %}">
           
    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}    
    
    <!-- Specific Page JS goes HERE  -->

    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
