
    <footer class="footer section py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <p class="mb-0 text-center text-xl-left">
                        &copy; <a  href="https://github.com/WhiteWolf21" target="_blank">Django Tools</a> 
                        - edited by <a target="_blank" href="https://www.linkedin.com/in/thiện-huỳnh-ngọc-8481b6194">Huỳnh Ngọc Thiện</a>
                    </p>
                </div>

                {% block right_footer %}{% endblock right_footer %}

                <!--
                <div class="col-12 col-lg-6">
                    
                </div>
                -->
            </div>
        </div>
    </footer>
